.chessbd{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(64, 113, 103);
}
#column{
    display: none;
}
#tabl1{
    display: 'none';
    transform: rotate(180deg);
}
#tabl0{
    display: 'none';
    transform: rotate(0deg);
}
#row0{
    display: flex;
    height:100%;
    width: 100%;
    background-color:rgb(64, 113, 103);
    transform: rotate(0deg);
}
#row1{
    display: flex;
    height:100%;
    width: 100%;
    background-color:rgb(64, 113, 103);
    transform: rotate(180deg);
}

