.color1{
    display: flex;
    height:100px;
    width:100px;
    max-width: 100vw;
    max-height: 100vh;
    background-color: #fff;
}
.color1n{
    display: flex;
    height:100px;
    width:100px;
    max-width: 100vw;
    max-height: 100vh;
    background-color:rgb(242, 189, 56);
}
.color2{
    display: flex;
    height:100px;
    width:100px;
    max-width: 100vw;
    max-height: 100vh;
    background-color: green;
  
}
.chesbd:hover{
    cursor: grab;
}
.chesbd:active{
    cursor: grabbing;
}
.color1 .chesbd{
    display: flex;
    height: 80%;
    width: 80%; 
}
.color1n .chesbd{
    display: flex;
    height: 80%;
    width: 80%; 
}
.color2 .chesbd{
     display: flex;
    height: 80%;
    width: 80%; 
}
.hide{
    display: none;
}
@media screen and (350px< width <800px){
    .color1{
        height: 60px;
        width: 60px;
    }
    .color2{
        height: 60px;
        width: 60px;
    }
    .color1n{
        height: 60px;
        width: 60px;
    }
} 


@media screen and (350px< height <800px){
    .color1{
        height: 60px;
        width: 60px;
    }
    .color2{
        height: 60px;
        width: 60px;
    }
    .color1n{
        height: 60px;
        width: 60px;
    }
} 
@media screen and (height<490px){
    .color1{
        height: 40px;
        width: 40px;
    }
    .color2{
        height: 40px;
        width: 40px;
    }
    .color1n{
        height: 40px;
        width: 40px;
    }
} 
@media screen and (width<490px){
    .color1{
        height: 40px;
        width: 40px;
    }
    .color2{
        height: 40px;
        width: 40px;
    }
    .color1n{
        height: 40px;
        width: 40px;
    }
} 